<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../resources/css/template.css"/>
    <link rel="stylesheet" href="../../../resources/css/forms.css"/>
    <link rel="stylesheet" href="../../../resources/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../../resources/css/raleway.css"/>
    <link rel="stylesheet" href="../../../resources/css/open-sans.css"/>
    <link rel="stylesheet" href="../../../resources/css/museo-slab.css"/>
    <link rel="stylesheet" href="../../../resources/css/icomoon.css"/>
    <link rel="stylesheet" href="../../../resources/css/detail-feed.css"/>
</head>
<body>
<div id="background-repeat"></div>
<div id="page">
    <section class="page__head-bar">
        <div id="navigation-bg"></div>
        <div class="head_bar__navigation-container">
            <div class="head_bar__navigation">
                <ul>
                    <li class="selected"><a href="#">Home</a></li>
                    <li><a href="#">Tour</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Albums</a></li>
                    <li><a href="#">Biography</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="head_bar__social-block social-block">
                <ul>
                    <li><a href="https://www.facebook.com/skogmark" class="social-block__fb-icon">&nbsp;</a></li>
                    <li><a href="https://soundcloud.com/skogmark" class="social-block__sc-icon">&nbsp;</a></li>
                    <li><a href="https://vk.com/skogmark" class="social-block__vk-icon">&nbsp;</a></li>
                    <li><a
                            href="https://www.youtube.com/channel/UCD_aJMfIsQvfjoGZ1rOKNUQ"
                            class="social-block__yt-icon">&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="page__detail-feed-container">
        <div class="detail-feed__feed-column">
            <div class="detail-feed__post">
                <div class="detail-feed__title">NEW ALBUM: "Raging Clouds" is out</div>
                <div class="feed__post-date">June 14, 2015</div>
                <div class="detail-feed__content">
                    <p>
                        Great looking images make your blog posts more visually compelling for your audience, and
                        encourage
                        readers to keep coming back.
                    </p>

                    <p>
                        <img src="../../../resources/images/D_TodUfKFUI.jpg" alt=""/>
                    </p>

                    <p><img src="../../../resources/images/Y9D-ytgyWLo.jpg" alt=""/></p>
                </div>
                <div class="detail-feed__tags">
                    <div class="detail-feed__tag">Tags:</div>
                    <div class="detail-feed__tag"><a href="#">New Album</a></div>
                    <div class="detail-feed__tag"><a href="#">Sworn To Paganism</a></div>
                </div>
            </div>
        </div><!--
    ---><div class="detail-feed__side-bar">
            <div class="detail-feed__side-bar-container">
                <div class="side-bar__item">
                    <div class="side-bar__item-title">Featured Posts</div>
                    <div class="side-bar__item-carousel">
                        <ul>
                            <li>
                                <div class="carousel__post-preview">
                                    <a href="#">
                                        <img src="../../../resources/images/1jEWiVU49a8.jpg" alt=""/>
                                    </a>
                                </div>
                                <div class="carousel__post-title">
                                    <a href="#">Backstage with The Toxic Void</a>
                                </div>
                                <div class="carousel__post-date">June 14, 2015</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-bar__item">
                    <div class="side-bar__item-title">Recent Posts</div>
                    <div class="side-bar__recent-post-container">
                        <div class="recent-post-container__recent-post">
                            <div class="recent-post-container__info single">
                                <div class="recent-post-container__title">
                                    <a href="/post/1">The Toxic Void performance at WixMusic Festival hit waves</a>
                                </div>
                                <div class="recent-post-container__date">June 14, 2015</div>
                            </div>
                        </div>
                        <div class="recent-post-container__recent-post">
                            <div class="recent-post-container__recent-post-preview">
                                <img src="../../../resources/images/Y9D-ytgyWLo.jpg" alt=""/>
                            </div><!--
                        ---><div class="recent-post-container__info">
                                <div class="recent-post-container__title">
                                    <a href="/post/1">NEW ALBUM: "Raging Clouds" is out</a>
                                </div>
                                <div class="recent-post-container__date">June 14, 2015</div>
                            </div>
                        </div>
                        <div class="recent-post-container__recent-post">
                            <div class="recent-post-container__recent-post-preview">
                                <img src="../../../resources/images/05e3dc_553608c4545b41a3b9ecf44f6fdd9354.jpg" alt=""/>
                            </div><!--
                        ---><div class="recent-post-container__info">
                                <div class="recent-post-container__title">
                                    <a href="/post/1">Backstage with The Toxic Void</a>
                                </div>
                                <div class="recent-post-container__date">June 14, 2015</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side-bar__item">
                    <div class="side-bar__item-title">Archive</div>
                    <div class="side-bar__archive-container">
                        <a href="#">June 2015 (2)</a>
                        <a href="#">May 2015 (1)</a>
                        <a href="#">March 2015 (1)</a>
                        <a href="#">November 2014 (1)</a>
                    </div>
                </div>
                <div class="side-bar__item">
                    <div class="side-bar__item-title">Search By Tags</div>
                    <div class="side-bar__tag-container">
                        <a href="#">Backstage</a>
                        <a href="#">Charts</a>
                        <a href="#">New Album</a>
                        <a href="#">Photos</a>
                        <a href="#">Sworn To Paganism</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page__footer">
        <div class="page__separator-small"></div>
        <div class="footer__social-block-container">
            <h3>Follow us on:</h3>

            <div class="footer__social-block social-block">
                <ul>
                    <li><a href="https://www.facebook.com/skogmark" class="social-block__fb-icon">&nbsp;</a></li>
                    <li><a href="https://soundcloud.com/skogmark" class="social-block__sc-icon">&nbsp;</a></li>
                    <li><a href="https://vk.com/skogmark" class="social-block__vk-icon">&nbsp;</a></li>
                    <li><a
                            href="https://www.youtube.com/channel/UCD_aJMfIsQvfjoGZ1rOKNUQ"
                            class="social-block__yt-icon">&nbsp;</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <p>© 2016 by Skogmark</p>
        </div>
    </section>
</div>
</body>
</html>