<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>${title}</title>
    <link rel="stylesheet" href="../../../../resources/assets/css/template.css"/>
    <link rel="stylesheet" href="../../../../resources/assets/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../../../resources/assets/css/raleway.css"/>
    <link rel="stylesheet" href="../../../../resources/assets/css/open-sans.css"/>
    <link rel="stylesheet" href="../../../../resources/assets/css/museo-slab.css"/>
</head>
<body>
<div id="background-repeat"></div>
<div id="background-header">
    <div class="background-header__img"></div>
</div>
<div id="navigation-bg"></div>
<div id="page">
    <section class="page__head-bar">
        <div class="head_bar__navigation">
            <ul>
                <li class="selected"><a href="#">Home</a></li>
                <li><a href="#">Tour</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Albums</a></li>
                <li><a href="#">Biography</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="head_bar__social-block">
            <ul>
                <li><a href="https://www.facebook.com/skogmark" class="social-block__fb-icon">&nbsp;</a></li>
                <li><a href="https://soundcloud.com/skogmark" class="social-block__sc-icon">&nbsp;</a></li>
                <li><a
                        href="https://www.youtube.com/channel/UCD_aJMfIsQvfjoGZ1rOKNUQ"
                        class="social-block__yt-icon">&nbsp;</a></li>
            </ul>
        </div>
    </section>
    <section class="page__logo">
        <div class="page__logo-img"></div>
    </section>
    <section class="page__feed">
        <div class="page__separator"></div>
        <h1>Latest News</h1>

        <div class="feed__container">
            <div class="feed__container-column">
                <div class="feed__post">
                    <div class="feed__post-title">
                        <a href="#">The Toxic Void performance at WixMusic Festival hit waves</a>
                    </div>
                    <div class="feed__post-date">June 14, 2015</div>
                    <div class="feed__post-preview-image"></div>
                    <div class="feed__post-preview-text">
                        To create your first blog post, click here and select 'Add & Edit
                        Posts' > All Posts > This is the title of your first blog post.

                        I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text”
                        or
                        double click me to add your own content and make changes to the font. Feel free to drag and drop
                        me
                        anywhere you like on your page. I’m a great place for you to tell a story and let your users
                        know a
                        little more about you.
                    </div>
                    <a href="#" class="feed__post-read-more-btn">Read More</a>
                </div>
                <div class="feed__post">
                    <div class="feed__post-title">
                        <a href="#">Backstage with The Toxic Void</a>
                    </div>
                    <div class="feed__post-date">June 14, 2015</div>
                    <div class="feed__post-preview-image">
                        <a href="#">
                            <img src="/var/java/skogmark-site/src/main/resources/assets/images/1jEWiVU49a8.jpg" alt=""/>
                        </a>
                    </div>
                    <div class="feed__post-preview-text">
                        Great looking images make your blog posts more visually compelling for your audience, and
                        encourage
                        readers to keep coming back.
                    </div>
                    <a href="#" class="feed__post-read-more-btn">Read More</a>
                </div>
                <div class="feed__post">
                    <div class="feed__post-title">
                        <a href="#">Win a Golden Ring ticket to our next show</a>
                    </div>
                    <div class="feed__post-date">June 14, 2015</div>
                    <div class="feed__post-preview-image">
                        <a href="">
                            <img src="/var/java/skogmark-site/src/main/resources/assets/images/D_TodUfKFUI.jpg" alt=""/>
                        </a>
                    </div>
                    <div class="feed__post-preview-text">
                        Great looking images make your blog posts more visually compelling for your audience, and
                        encourage
                        readers to keep coming back.
                    </div>
                    <a href="#" class="feed__post-read-more-btn">Read More</a>
                </div>
            </div>
            <div class="feed__container-column">
                <div class="feed__post">
                    <div class="feed__post-title">
                        <a href="#">NEW ALBUM: "Raging Clouds" is out</a>
                    </div>
                    <div class="feed__post-date">June 14, 2015</div>
                    <div class="feed__post-preview-image">
                        <a href="">
                            <img src="/var/java/skogmark-site/src/main/resources/assets/images/Y9D-ytgyWLo.jpg" alt=""/>
                        </a>
                    </div>
                    <div class="feed__post-preview-text">
                        Great looking images make your blog posts more visually compelling for your audience, and
                        encourage
                        readers to keep coming back.
                    </div>
                    <a href="#" class="feed__post-read-more-btn">Read More</a>
                </div>
                <div class="feed__post">
                    <div class="feed__post-title">
                        <a href="#">“Rain of Doom” hits #1</a>
                    </div>
                    <div class="feed__post-date">June 14, 2015</div>
                    <div class="feed__post-preview-image">
                        <a href="">
                            <img src="/var/java/skogmark-site/src/main/resources/assets/images/05e3dc_553608c4545b41a3b9ecf44f6fdd9354.jpg"
                                 alt=""/>
                        </a>
                    </div>
                    <div class="feed__post-preview-text">
                        To create your first image blog post, click here and select 'Add & Edit Posts' > All Posts >
                        This is the title of your first image post.
                        Great looking images make your blog posts more visually compelling for your audience, and
                        encourage readers to keep coming back
                    </div>
                    <a href="#" class="feed__post-read-more-btn">Read More</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="page__actual-album">
        <div class="page__separator"></div>
        <h2><span class="page__actual-album-title-label uppercase">New album:</span> Sworn To Paganism</h2>
        <div class="page__actual-album-container">
            <div class="actual-album-container__controls">
                <a class="actual-album-container__buy" href="#">Buy album ($9.99)</a>
                <a class="actual-album-container__share" href="#">Share album</a>
                <div class="clearfix"></div>
            </div>
            <div class="page__actual-album-container-img">
                <img src="/var/java/skogmark-site/src/main/resources/assets/images/nIgophlY1UM.jpg" alt=""/>
            </div>
        </div>
    </section>
    <section class="page__footer">
        <div class="page__separator"></div>
        <h3>Join our mailing list for the latest news, tour dates & free tickets!</h3>
    </section>
    <!--<jsp:invoke fragment="content"/>-->
</div>
</body>
</html>