<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <!-- enable use-expressions -->
    <http auto-config="true">
      <intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')" />
      <form-login default-target-url="/"/>

        <!-- access denied page -->
        <!--<access-denied-handler error-page="/403" />-->
        <!--<form-login-->
                <!--login-page="/login"-->
                <!--default-target-url="/welcome"-->
                <!--authentication-failure-url="/login?error"-->
                <!--username-parameter="username"-->
                <!--password-parameter="password" />-->
        <!--<logout logout-success-url="/login?logout" />-->
        <!-- enable csrf protection -->
        <!--<csrf/>-->
    </http>

  <authentication-manager alias="auth">
    <authentication-provider user-service-ref="customUserDetailsService"/>
  </authentication-manager>

</beans:beans>